* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 239, 239);
  font-size: 16px;
}

ul {
  list-style-type: none;
}

/* banner style  */
.banner {
  width: 100%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.banner img {
  display: inline;
  width: 60px;
  height: 60px;
}

.banner h1 {
  display: inline;
  text-align: center;
}
/* banner style end */

/* main style */
main {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
}

/* sort container style  */
.sort-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.sort-container select {
  padding: 5px 7px;
  margin: 0 10px;
  text-transform: capitalize;
}

.sort-container select option {
  padding: 10px 15px;
}
.sort-container select option:active {
  background-color: #31b572;
}

.sort-container input {
  padding: 7px 15px;
}
/* end sort container */

/* cart style */
.cart {
  background: #31b572;
  padding: 32px;
  color: white;
}

.cart button {
  display: block;
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
  padding: 7px 15px;
  font-size: 1rem;
}
/* end card style */

.plant-container {
  margin: 30px auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plant {
  position: relative;
  flex: 1 0 30%;
  min-width: 245px;
  max-width: 270px;
  width: 260px;
  height: 270px;
  margin: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  grid-template-rows: 70% 40%;
}
.plant .cover {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(185, 184, 184, 0.689);
  overflow: hidden;
}
.plant .cover:hover ~ div input {
  background-color: #31b572;
  color: white;
  font-weight: 700;
  transition: 500ms ease;
}
.plant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in;
}

.plant img:hover {
  transform: scale(1.25);
}

.plant > div {
  background-color: none;
}
#price {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 700;
  background-color: #31b572;
  border-radius: 20px 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#plant-name {
  text-transform: capitalize;
  text-align: center;
  margin: 5px 0;
}

.plant input {
  padding: 7px 15px;
  display: block;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  border: 1px solid #ccc;
  transition: 500ms ease;
}

.plant input:hover {
  background-color: #31b572;
  color: white;
  font-weight: 700;
}

/* end main style */ ;
